@model IEnumerable<MvcApplication2.Areas.Api.Models.Pais>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pai_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est_codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pai_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.est_codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.paisId }) |
            @Html.ActionLink("Details", "Details", new { id=item.paisId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.paisId })
        </td>
    </tr>
}

</table>
