@model MvcApplication2.Areas.Api.Models.Departamento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Departamento</legend>

        @Html.HiddenFor(model => model.departamentoId)

        <div class="editor-label">
            @Html.LabelFor(model => model.dep_nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dep_nombre)
            @Html.ValidationMessageFor(model => model.dep_nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.est_codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.est_codigo)
            @Html.ValidationMessageFor(model => model.est_codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.paisId, "Paises")
        </div>
        <div class="editor-field">
            @Html.DropDownList("paisId", String.Empty)
            @Html.ValidationMessageFor(model => model.paisId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
